<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/images/logo.jpg" alt="logo image">
    </div>
    <nav>
        <ul>
            <li><a href="home.ejs">home</a></li>
            <li><a href="">media</a></li>
            <li><a href="">media</a></li>
            <li><a href="">media</a></li>
        </ul>
    </nav>
</header>
<div class="search-section">
    <div class="categories">
        <button id="category-btn">Categories</button>
        <div id="category-list" style="display: none;">
            <li>accessories</li>
            <li>electronics</li>
            <li>accessories</li>
            <li>electronics</li>
            <!-- <span class="cross">X</span> -->
        </div>
    </div>
    
    <input type="text" id="search" class = "search" placeholder="Search for product">
</div>

<!-- ------------hero------------------>
 <main>
    <div class="hero-container">
        <div class="hero-text">
            <h4>The Big Offer Day</h4>
            <h1>SALES UPTO 50% <span>off</span></h1>
            <h3>Shop the best products at unbeatable prices</h3>
            <p>Explore a wide range of premium-quality products, from electronics to fashion, home essentials, and much more. Whether you're upgrading your tech, refreshing your wardrobe, or enhancing your home.</p>
            <button class="shopbtn">Shop now</button>
        </div>
        <div class="hero-image">
            <img src="/images/heroimage.png" alt="">
        </div>
    </div>
 </main>

<div class="products-section">
    <h2>Top Categories</h2>
    <nav>
        <ul>
            <li>Accessories</li>
            <li>Outfits</li>
            <li>Phones</li>
            <li>Laptops</li>
            <li>Headphones</li>
        </ul>
    </nav>
    <div class="products-container">
        <div class="product-card">
            <div class="card-image">
                <img src="/images/heroimage.png" alt="">
            </div>
            <p>Smart Watch</p>
            <h4>$10.12</h4>
            <button class="shopbtn">Shop now</button>
        </div>

        <div class="product-card">
            <div class="card-image">
                <img src="/images/heroimage.png" alt="">
            </div>
            <p>Smart Watch</p>
            <h4>$10.12</h4>
            <button class="shopbtn">Shop now</button>
        </div>

        <div class="product-card">
            <div class="card-image">
                <img src="/images/heroimage.png" alt="">
            </div>
            <p>Smart Watch</p>
            <h4>$10.12</h4>
            <button class="shopbtn">Shop now</button>
        </div>

        <div class="product-card">
            <div class="card-image">
                <img src="/images/heroimage.png" alt="">
            </div>
            <p>Smart Watch</p>
            <h4>$10.12</h4>
            <button class="shopbtn">Shop now</button>
        </div>

        <div class="product-card">
            <div class="card-image">
                <img src="/images/heroimage.png" alt="">
            </div>
            <p>Smart Watch</p>
            <h4>$10.12</h4>
        </div>

        <div class="product-card">
            <div class="card-image">
                <img src="/images/heroimage.png" alt="">
            </div>
            <p>Smart Watch</p>
            <h4>$10.12</h4>
            <button class="shopbtn">Shop now</button>
        </div>

    </div>
</div>

<footer>
    <p>&copy; 2025 Techno Shop | All Rights Reserved.</p>
</footer>
<script src="/js/script.js"></script>
</body>
</html>